<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppleUygulamaFinal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AppleUygulamaFinal.Properties.Settings>
            <setting name="Ayar" serializeAs="String">
                <value>isim</value>
            </setting>
            <setting name="Ayar1" serializeAs="String">
                <value>il</value>
            </setting>
            <setting name="Ayar2" serializeAs="String">
                <value>ilçe</value>
            </setting>
            <setting name="Ayar3" serializeAs="String">
                <value>adres</value>
            </setting>
            <setting name="Ayar4" serializeAs="String">
                <value>telefon</value>
            </setting>
            <setting name="Ayar5" serializeAs="String">
                <value>mail</value>
            </setting>
            <setting name="Ayar6" serializeAs="String">
                <value>fiyat</value>
            </setting>
            <setting name="Ayar7" serializeAs="String">
                <value>model</value>
            </setting>
        </AppleUygulamaFinal.Properties.Settings>
    </userSettings>
</configuration>